*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  }
  
html {
    box-sizing: border-box;
  }
a{
    text-decoration:none;
    color: inherit;
  }
  
ul, ol {
    list-style: none;
  }
  button {
    background: none; 
    border: none;     
    padding: 0;       
    margin: 0; 
  }

body{
    font-family: 'TT Lakes', sans-serif; 
    margin-left:auto;
    margin-right: auto;
    background-color: #F8F8F8;
}
.container{
  min-width: 320px;

}
.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  background-color: white;
  border-bottom: 1px solid #D9FFF5;
}


.header__menu-logo{
  display: flex;
  margin-left: 16px;
  align-items: center;
  
  
}
.header__logo-img{
  max-width: 95px;
}
.header__menu-logo::after{
  content:"";
  width: 2px;
  height: 32px;
  border-radius: 1px 0px 0px 0px;
  background: #EAEAEA;
  margin-left: 16px;

}
.header__menu-btn{
  margin-right: 16px;
}
.header__btn-group:not(:last-child){
  margin-right: 16px;
}
.main__title{
  position: relative;
min-width:288px;
font-size: 28px;
margin-left: 16px;
height: 40px;
margin-top: 24px;
}
.main__title::before{
  position: absolute;
  content:"";
  width: 4px;
  height: 40px;
  background:#41F6D7;
  left: -16px;
}
.main__nav{
  margin-left: 16px;
  margin-top: 24px;
}
.nav-list{
display: flex;
white-space: nowrap;
overflow-x: auto;
scrollbar-width: none;    
-ms-overflow-style: none; 
}

.nav-list::-webkit-scrollbar {
  display: none; 
}

.nav-item:first-child{
  background-color: #fff;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}
.nav-link{
  display: inline-block;
  padding: 8px 9px 8px 16px;
  color: #7E7E82;
}

.main__text{
  margin-top: 24px;
  margin-right: 16px;
  margin-left: 16px;
  font-size: 14px;
  line-height: 18px;
  color: #1B1C21;
  
}
.main__button{
  margin-top: 24px;  
  font-size: 16px;
  line-height: 24px;
  position: relative;
  font-weight:500;
  font-family: 'TT Lakes', sans-serif; 
}
.main__button::before{
display: inline-block;
content: "";
position: relative;
background-image: url("img/icon.png");
width: 7px;
height: 10px;
background-position: center; 
background-repeat: no-repeat;
margin-left: 24px;
margin-right: 16px;
}
.main__img{
  margin-top: 16px;
}
.tablet-only{
  display: none;
}
.desctop-only{
  display: none;
}

@media (min-width: 768px){
.container{
  min-width: 768px;
}
.tablet-only {
  display: block; 
}
.desctop-only{
  display: none;
}

.header__menu-logo::after{
  display: none;
}
.header__menu-logo{
  margin-left: 24px;
  margin-right: 250px;
  position: relative;
}
.header__menu-img{
  margin-right: 42px;
}
.header__menu-btn{
  margin-right: 0px;
}
.header__menu-logo::before{
  content:"";
  display: inline-block;
  width: 2px;
  height: 32px;
  border-radius: 1px 0px 0px 0px;
  background: #EAEAEA;
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translate(-50%, -50%);
}
.header__btn-tablet:not(:last-child){
  margin-right: 16px;
}
.header__btn-inner{
 margin-right: 24px;
 position: relative;
}
.header__tablet-wrapper-btn{
  margin-right: 40px;
}
.header__btn-inner::before{
  content:"";
  display: inline-block;
  width: 2px;
  height: 32px;
  border-radius: 1px 0px 0px 0px;
  background: #EAEAEA;
  position: absolute;
  top: 6px;
  left: -20px;

}

.main__section{
  display: flex;
  flex-wrap: wrap;

}
.main__text-button{
  display: flex;
  flex-direction: column;
  align-items: flex-start
}
.main__text{
  display: inline-block;
  width: 312px;
  margin-left: 24px;
  margin-top: 32px;
  margin-right: 0;
  font-size: 14px;
  line-height: 20px;
}
.main__button{
  /* order: 3; */
}
.main__img{
  width: 360px;
  height: 208px;
  margin-top: 32px;
  margin-right: 25px;
  margin-left: 47px;
  border-radius: 6px;
}

.main__button::before{
  margin-left: 33px;
  
}
}

@media (min-width: 1120px){

  .container{
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
  .desctop-only{
    display: block;
    
  }
  .tablet-only{
    display: none;
  }
  .header{
    display: none;
  }
  .main__top{
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    align-items: center;
  }
  .main__title{
    margin-top: 0;
    margin-left: 32px;
  }
  .main__title::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 40px;
    background: #41F6D7;
    left: -32px;
}
  .main__btn-inner{
    height: 40px;
    display: flex;
    align-items: center;
  }
  .main__btn-group{
    display: flex;
    align-items: center;
    margin-right: 32px;
  }
  .main__btn-name{
    margin-right: 8px;
    font-size: 16px;
    line-height: 24px;
    font-family:'TT Lakes', sans-serif;
    
  }

  .main__nav{
    margin-top: 8px;
    margin-left: 33px;
    margin-right: 25px;
    
  }
  .nav-link{
    font-family: TT Lakes;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.20000000298023224px;
text-align: left;

  }
  .nav-list {
    display: flex;
    white-space: nowrap;
    max-width: 1063px;
    flex-wrap: wrap;
}
.main__text{
  margin-top: 16px;
  margin-left: 34px;
  min-width: 490px;
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #1B1C21;
}
.main__textsub{
  margin-top: 16px;
  margin-left: 34px;
  max-width: 490px;
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #1B1C21;
}
.main__button{
  margin-top: 13px;
  /* margin-left: 32px; */
}
.main__button::before {
 margin-left: 40px;
 margin-right: 16px;
}
.main__img{
  margin-top: 8px;
  width: 531px;
  height: 307px;
  margin-left: 36px;
  margin-right: 28px;
}
}